.screen-wrapper {
    width: 100%;
    background: #F0EFEFEF;
    .layout-wrapper {
        width: 1280px;
        margin: 0 auto;
    }
}

.menu-wrapper {
    height: 50px;
    line-height: 50px;
    .nav {
        display: flex;
        list-style: none;
        justify-content: space-between;
    }
}
