.category-list {
    height:144px;
    background-color: #fff;
    width: 80%;
    border-radius: 20px;
    margin: 50px auto;
    padding: 35px 5%;
    .type {
        font-size: 20px;
        color: #364d79;
        font-weight: bold;
    }
    .movie-images-icon {
        width: 45px;
    }    
    .category-content {
        font-size: 18px;
        color: #364d79;
    }
}
.movies-category {
    padding: 0 5%;
    display: flex;
    flex-wrap: wrap;
}
.movie-item-wrapper {
    width: 180px;
    margin: 20px 50px 50px 50px;
    .movie-img {
        width: 180px;
        border: 2px solid white;
    }
    .movie-title {
        font-size: 20px;
        color:#364d79;
    }
}
